@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: ease-in-out 0.3s;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

p {
  font-size: 18px;
  margin-bottom: 1rem;
  color: hsl(0deg, 0%, 41%);
}

body {
  background: hsl(218deg, 23%, 16%);
  overflow-x: hidden;
  height: 100%;
  font-family: "Manrope", sans-serif;
}

@-webkit-keyframes show {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes show {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5%;
}
main .card {
  max-width: 680px;
  background: hsl(217deg, 19%, 24%);
  border-radius: 10px;
  padding: 3rem;
  text-align: center;
}
main .card.rotate {
  -webkit-animation: show 1s ease-in-out 1s 1;
          animation: show 1s ease-in-out 1s 1;
}
main .card .card-body {
  position: relative;
}
main .card .card-body .card-title h1 {
  color: hsl(150deg, 100%, 66%);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1rem;
}
main .card .card-body .card-desc {
  padding-bottom: 1.5rem;
}
main .card .card-body .card-desc .advice {
  color: hsl(193deg, 38%, 86%);
  font-size: 20px;
  font-weight: 800;
}
main .card .card-body .divider {
  margin: 0 auto;
  padding-bottom: 1.5rem;
}
main .card .card-body .toggle {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  background: hsl(150deg, 100%, 66%);
  border-radius: 100%;
  padding: 1rem 1.2rem;
  cursor: pointer;
  border: none;
}
main .card .card-body .toggle:disabled {
  background: #008542;
  cursor: not-allowed;
}
main .card .card-body .toggle:hover, main .card .card-body .toggle:focus, main .card .card-body .toggle:active {
  box-shadow: 0px 0px 30px 13px rgba(82, 255, 168, 0.6);
}
main .card .card-body .toggle:hover img, main .card .card-body .toggle:focus img, main .card .card-body .toggle:active img {
  box-shadow: 1px 1px 229px 0px rgb(82, 255, 168);
  -webkit-box-shadow: 1px 1px 229px 0px rgb(82, 255, 168);
  transform: rotate(360deg);
}
@media (min-width: 992px) {
  main .card .card-body .card-desc .advice {
    font-size: 1.75rem;
  }
  main .card .card-body .divider-container .d-block {
    display: block;
  }
  main .card .card-body .divider-container .d-none {
    display: none;
  }
}
@media (max-width: 992px) {
  main .card .divider-container {
    margin-bottom: 1rem;
  }
  main .card .divider-container .d-block {
    display: none;
  }
  main .card .divider-container .d-none {
    display: block;
  }
}
@media (max-width: 992px) {
  main .card {
    max-width: 350px;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
  }
  main .card .card-body .card-title h1 {
    font-size: 12px;
  }
  main .card .card-body .toggle {
    bottom: -4.5rem;
  }
  main .card .card-body .toggle img {
    width: 24px;
  }
}/*# sourceMappingURL=styles.css.map */